In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set (style="darkgrid")

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')

path = Brukere/ragnhildsundsbak⁩/Dokumenter/⁨Universitetsbiblioteket⁩/Programmering⁩/'

SyntaxError: invalid character in identifier (<ipython-input-4-97885c906d32>, line 6)

In [5]:
path = "Brukere/ragnhildsundsbak⁩/Dokumenter/⁨Universitetsbiblioteket⁩/Programmering⁩/"'

SyntaxError: EOL while scanning string literal (<ipython-input-5-afca299e7602>, line 1)

In [6]:
Path = ("Brukere/ragnhildsundsbak⁩/Dokumenter/⁨Universitetsbiblioteket⁩/Programmering⁩/")

In [7]:
df = pd.read_csv ("fortune500.csv")

In [8]:
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1